/*** Global ***/
.container {
    padding-top:50px;
}

.container .container {
    padding-top: 0;
}

.required {
    color: red;
}

.section-label {
    display:block;
    margin-bottom:0.5em;
    color:#ccc;
    text-transform:uppercase;
}

.white-space {
    white-space: pre;
}

.breadcrumb {
    margin-top:1.5em;
}

/*** Main ***/
.tp-main {
    padding-left:30px;
}

.tp-main form a {
    color: #ddd;
    text-decoration: none;
}

.tp-main form a:hover {
    color: #428bca;
}

.tp-main form i {
    margin-left:-15px;
    line-height:40px;
}

.tp-main form legend i {
    margin-left:10px;
    line-height:20px;
}

.tp-main button {
    margin-top:1em;
    margin-bottom:2em;
}

/*** Side-Nav ***/
.tp-sidenav {
    font-size:1.3em;
    margin-top:10px;
    padding-top: 10px;
	text-shadow: 0 1px 0 #fff;
	border-radius: 5px;
}

.tp-sidenav ul {
    margin-bottom:0;
    font-size:0.9em;
}

.tp-sidenav ul li {
    padding-bottom:10px;
    padding-left:10px;
}

/*** Create New Studio Form ***/
#mailing_address {
    display: none;
}

.chosen-single {
    height:38px !important;
    line-height:36px !important;
}

.form-error {
    background-color:#f9f2f4;
    padding:7px;
}

/*** Results ***/
.model-results h3 {
    display:inline-block;
    margin-left:1em;
    margin-top:0;
}

/*** AdminView template ***/
.temp-admin-view h1 {
    display: inline-block;
}

.temp-admin-view button.btn-primary {
    margin-left: 1em;
}

.temp-admin-view .btn-danger {
    background-color: #ddd;
    border-color: #ddd
}

.temp-admin-view .btn-danger:hover {    
    background-color: #d9534f;
    border-color: #d9534f
}

.temp-admin-view .list-inline li:first-child {
    padding-left: 0
}

.temp-admin-view .tp-relationships {
    margin-top: 1em;
    margin-bottom: 2em;
}

.temp-admin-view .tp-relationships ul {
    margin-bottom: 0;
}

.temp-admin-view .del-rel button {
    margin: 0;
    padding: 0;
    padding-left: 5px;
    background: white;
    border: none;
    color: #ccc;
}

.temp-admin-view .del-rel {
    display: inline
}

/*** AdminBrowse template ***/
.temp-admin-browse li li {
    padding-left: 2em;
}

/*** AdminSearch template ***/
.temp-admin-search .form-inline .form-group {
    width: 30%;
    display: inline-block;
}

.temp-admin-search .form-inline .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.temp-admin-search .model-results h3 {
    margin-left: 0;
}

.temp-admin-search .model-results button {
    background: white;
    border: none;
    color: #428bca;
}

.temp-admin-search .model-results form {
    display: inline;
    padding-left: 20px
}

