.container {
    padding-top:70px;
}

/*** Side-Nav ***/
.tp-sidenav {
    font-size:1.3em;
    padding-top: 10px;
	padding-bottom: 10px;
	text-shadow: 0 1px 0 #fff;
	background-color: #f7f5fa;
	border-radius: 5px;
}

.tp-sidenav .accordion-group {
    border:none;
}

.tp-sidenav .accordion-inner {
    border:none;
}

.tp-sidenav ul {
    font-size:0.9em;
}

.tp-sidenav ul li {
    padding-bottom:10px;
    padding-left:10px;
}