/*** Global ***/
body {
	padding-top: 50px;
	background-color: #1c1c1c;
	color: #eee;
	font-family: Arial, sans-serif;
}

@media (min-width: 768px) {
	body {
		padding-top: 70px;
	}
}

a {
	color: #5bb6c3;
}

a:hover {	
	text-decoration: none;
}

h1, h2, h3 {
	font-family: 'Montserrat', sans-serif;
}

h1 {
	color: #8dc233;
}

@media (max-width: 768px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.3em;
	}
}

h2 {
	color: #DD9B3D;
}

ul li li {
	padding-left: 2em;
}

ul li .dropdown-menu li {
	padding-left: 0;
}

p, ul, ol {
	font-size: 16px;
}

.tagline {
	color: #7a7a7a;
	font-size: 1.3em;
	font-weight: 400;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -0.1em;
}

.btn-primary {
	background-color: #8dc233;
	border-color: #8dc233;
}

.btn-primary:hover {
	background-color: #84b72c;
	border-color: #84b72c;
}

.btn-default {
	color: #666;
	background-color: #222;
	border-color: #222;
}

.btn-default:hover {
	color: #555;
	background-color: #111;
	border-color: #111;
}

.btn-lg {
	padding: 16px;
}

.button-loading {
	background: #8dc233 url(/img/ajax-loader-button.gif) no-repeat 90% 1px;
}

.ajax-loader {
	text-align: center;
	margin-top: 20px;
}

.btn-next,
.btn-prev {
	display: inline-block !important;
	width: auto !important;
	margin-top: 0.7em;
	background-color: transparent;
}

.btn-next {
	float: right;
}

.btn-prev {
	float: left;
}

.text-important {
	color: #8dc233;
}

/*** Navbar ***/
.navbar-nav {	
	font-family: 'Montserrat', sans-serif;
}

@media (min-width: 939px) {
	.navbar-nav {
		font-size: 1.4em;
	}
}

@media (min-width: 939px) {
	.navbar-header {
		margin-right: 2.5em;
	}
}

.navbar-nav li a {
	line-height: 30px;
}

.navbar-inverse .navbar-left li a {	
	color: #ccc;
}

.navbar-inverse .navbar-left li a:hover,
.navbar-inverse .navbar-left li a:focus {
	color: #8dc233;
}

.navbar-right {
	background-color: #1a1a1a;
}

.navbar-brand {
	display: inline-block;
	max-width: 220px;
	padding-top: 18px;
}

.navbar-absolute {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
	color: black;
	background-color: #eee;
	font-weight: bold;
}

.navbar .img-circle {
	width: 22px;
}

@media (min-width: 939px) {
	.navbar-brand {
		max-width: 310px;
		padding-top: 15px;
	}

	.navbar .img-circle {
		width: 30px;
	}
}

.navbar .login-link {
	padding-top:16px;
	padding-bottom:16px;
}

/*** Row ***/

.row ul li a {
	font-size: 1.8em;
}

/*** Login ***/
.login-page {
	text-align: center;
}

.login-page .tagline {
	margin: 7px auto 30px;
	display: inline-block;
}

.login-page img {
	margin: 0 auto;
}

.login-page a:hover, .login-page a:focus,
.stream-page .more a:hover, .stream-page .more a:focus {
	text-decoration: none;
}

.login-page .btn, .stream-page .btn {
	display: block;
	width: 100%;
	max-width: 370px;
	margin:0 auto;
	border-radius: 0;
	font-size: 1.7em;
}

.login-page .btn-lg {
	padding: 17px 16px;
}

.login-page .main-col {
	padding-top: 60%;
	background: transparent url(/img/bg_login.png) no-repeat top center;
	-o-background-size:99% auto;
	-webkit-background-size:100% auto;
	-moz-background-size:99% auto;
	background-size:100% auto;
}

@media (min-width: 768px) {
	.login-page .main-col {
		padding-top: 30%;
	}
}

@media (min-width: 992px) {
	.login-page .main-col {
		padding-top: 29%;
	}
}

@media (min-width: 1200px) {
	.login-page .main-col {
		padding-top: 28%;
	}
}

.login-page .sign-up {
	padding:20px 0 30px 0;
	font-weight: 800;
	font-family: 'Montserrat', sans-serif;
}

.login-page .sign-up a {
	color: #8dc233;
}

.login-page footer {
	display: none;
}

/*** Tattoo Overview ***/
.tattoos-overview li li {
    padding-left: 0;
}

.tattoos-overview .row div div {
	padding-left: 0;
	font-size:0.9em;
}

@media (max-width: 992px) {
	.tattoos-overview .category-col {
		clear: both;
	}
}

/*** Locality Page ***/
.single-contact-col {
	margin-top: 0.5em;
	margin-bottom: 1em;
	text-align: center;
	font-size: 1.5em;
}

.single-contact-col .img-responsive{
	display: inline;
	margin-bottom: 0.5em;
}

.single-contact-col .author {
	font-size: 0.5em;
	font-weight: bold;
}

@media (min-width: 768px) {
	.single-contact-col .author {
		font-size: 0.8em;
		font-weight: normal;
	}
}

@media (min-width: 992px) {
	.single-contact-col .author {
		font-size: 1em;
		font-weight: normal;
	}
}

/*** Stream Page ***/
.photo {
	max-width: 768px;
    padding: 10px 0;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 30px;
    background-color: #262626;
    text-align: center;
    border-radius: 6px;
}

@media (min-width: 768px) {
	.photo {
		max-width: 326px;
		margin-left: 0;
		margin-right: 0;
	    padding: 10px;
	}
}

.photo img {
	border-radius: 3px;
}

.locality-page .photo {
	padding-bottom: 20px;
}

.lazy {
	max-width: 100%;
	height: auto;
}

.hide-while-loading, 
.stream-page h1,
.stream-page h2 {
	display: none;
}

.stream-page h2 {
	margin-top: 0;
}

.stream-page .more {
	padding-top: 30px;
}

.stream-header, .tp-page-header {
	margin-top: 2em;
}

.locality-page .stream-header,
.locality-contacts-page .stream-header {
	margin-top: 0;
}

.shop-page .stream-header img,
.artist-page .stream-header img,
.locality-contacts-page img {
    float: left;
    margin-right: 10px;
    width: 40px;
}

.locality-contacts-page li {
	clear: left;
	margin-top: 1em;
}

.shop-page h3, 
.artist-page h3 {
	margin-bottom: 0;
}

.stream-header h1, .tp-page-header h1 {
	margin-top: 0em;
	padding-top: 0.4em;
}

@media (min-width: 768px) {
	.stream-header h1, .tp-page-header h1 {
		padding-top: 0;
	}	
}

.backlink {	
	padding-bottom: 0.7em;
	margin-bottom: -0.3em;
	padding-top: 1em;
}

p.backlink a {
	color: #999;
}

@media (min-width: 768px) {
	.shop-header {
		margin-top: 0;
	}

	.shop-header img {
		margin-top: 0.3em;
		width: 50px;
	}

	.backlink {
		padding-top: 0.2em;
	}
}

.works-at {
	margin-left: 50px;
	font-size: 16px;
}

.row .works-at li a {
	font-size: 16px;
}

.works-at .dropdown-menu > li > a:hover {
    font-weight: normal;
}

.works-at .dropdown-menu > li > a {
    padding: 12px;
}

.stream-photo-meta {
    margin: 0 auto;
    margin-top: 1em;
    color: #555;
    font-size: bold;
}

.stream-photo-meta-top {
	margin: 0.1em 0 0.8em 0;
	text-align: left;
}

.stream-photo-meta .photo-author img {
	margin-right: 0.3em;
	border-radius: 50%;
	width: 30px;
	display: inline;
}

.stream-photo-meta div {
    display: inline;
}

.stream-photo-meta .likes-count {
    margin-right: 1em;
}

.photo {
    padding-bottom: 20px
}

#media-holder {
	margin-top: 2em;
}

.view-all {
	display: none;
}

.view-all .author {
    width:80%;
    margin:-6.5em auto 0 auto;
}

.likes-count:hover,
.liked {
    cursor: pointer;
    color: #D14237 !important;
}

@media (min-width: 768px) {
	.view-all .author {
		font-size: 0.7em;
		font-weight: bold;
		margin: -5.9em auto 0 auto;
	}
}

@media (min-width: 992px) {
	.view-all .author {
		font-size: 0.9em;
		margin: -6em auto 0 auto;
	}
}

@media (min-width: 1200px) {
	.view-all .author {
		font-size: 1em;
		font-weight: normal;
		margin: -6em auto 0 auto;
	}
}

/*** Modal ***/
.modal-dialog {
	width: 674px;
}

.modal-content {
	background-color: #2a2a2a;
}

.modal-footer {
	margin-top: 0;
	padding: 5px 20px 30px;
	border: none;
}

.modal-meta {
	text-align: left;
	margin-left: 90px;
	margin-right: 90px;
	font-size: 1.3em;
	font-family: 'Montserrat', sans-serif;
}

.modal-meta .photo-author {
	float: left;
	color: #555;
}

.modal-meta .photo-author img {
	width: 30px;
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}

.modal-meta .likes-count {
	float: right;
	color: #555;
	margin-left: 20px;
}

.modal-meta .comment-count {
	float: right;
	color: #555;
}

.modal-meta .caption {
	padding-top: 45px;
	color: #999;
	font-size
}

/*** Footer ***/
.footer {
	margin: 2em 0 0 0;
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: black;
    color: #666;
}

.footer ul li a {
    font-size: 18px;
    color: #999;
    vertical-align: middle;
}

.footer h4 {
	margin-bottom: 1.5em;
    text-transform: uppercase;
    color: #333;
}