{% extends "admin_single_page.html" %}

{% block title %}About{% endblock %}

{% block main_content %}

<h1>About</h1>

<h2>What is TattooPort?</h2>

<h3>TattooPort helps you find the inspiration and artist for your next tattoo.</h3>

<p>It is an Instagram web interface designed for tattoo lovers that uncovers amazing tattoo art and artists on Instagram.</p>

<p>We make your life easier in two ways:</p>

<ol>
	<li>Find inspiration in the <a href="/tattoos">gallery of tattoo art</a></li>
	<li>Find your artist in the <a href="/shops-artists">directory of shops and artist</a></li>
</ol>

<h2>Our Vision and Mission</h2>

<p>Our vision is simple: We help people express themselves through creative, meaningful and high quality tattoo art by relentlessly pursuing an easy, simple, and focused user experience.</p>

<p>Our mission is to become the number one tattoo art website by providing the best user experience to people looking to get ink and highlighting the best tattoo art and artists.</p>

<h2>Who's Behind TattooPort</h2>

<p>The creator of TattooPort is Lee Clemmer (aka "I").  The idea for an Instagram client for tattoo lovers came to me while I was getting inked at Art Machine Productions by Resp.  I noticed that the artists there were all on Instagram and subsequently discovered the wonderful world of tattoo art that is lurking on Instagram.</p>

<h2>How to Get in Touch</h2>

<p>We'd live to hear from you!  To contact us, please email lee [at] tattooport [dot] com.</p>

{% endblock %}