{% extends "admin_single_page.html" %}

{% block title %}About{% endblock %}

{% block main_content %}

<h1>About</h1>

<h2>What is TattooPort?</h2>

<h3>TattooPort helps you find the inspiration and artist for your next tattoo.</h3>

<p>It is an Instagram web interface designed for tattoo lovers that uncovers amazing tattoo art and artists on Instagram.</p>

<p>We make your life easier in two ways:</p>

<ol>
	<li>Find inspiration in the <a href="/tattoos">gallery of tattoo art</a></li>
	<li>Find your artist in the <a href="/shops-artists">directory of shops and artist</a></li>
</ol>

<h2>Whence it came?</h2>

<p>Lee Clemmer (that'd be me, the guy behind TattooPort) got the idea for this site while getting his first tattoo in late 2012 and noticing that all the tattoo artists were on Instagram.</p>

<h2>Anything else</h2>

<p>Instagram is a big hit in the tattoo community, which means a ton of amazing tattoo art is just waiting to be discovered there.</p>

<p>Here at TattooPort, we are on a mission to help you express yourself through the ancient art of tattoos.

{% endblock %}