{% extends "base_template.html" %}

{% block base_title %}[TP Admin] {% block title %}{% endblock %}{% endblock %}

{% block css %}<link rel="stylesheet" href="/css/admin.css" type="text/css">{% endblock %}

{% block container %}
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" target="_blank"><i class="icon-compass icon-large"></i> tattooport</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav">
				{% block topmenu %}
				<li{% if active == 'admin' %} class="active" {% endif %}><a href="/admin">Admin</a></li>
				<li{% if active == 'models' %} class="active" {% endif %}><a href="/admin/models">Data Models</a></li>
				<li{% if active == 'settings' %} class="active" {% endif %}><a href="/admin/settings">Settings</a></li>
				{% endblock %}
			</ul>				
		</div>
	</nav>

	<div class="row">
		<div class="col-lg-2 tp-sidenav">
			{% block sidenav %}
			{% endblock %}
		</div>

		<div class="col-lg-10 tp-main">
			{% block main %}
			<h1>Admin Main Page</h1>
			<p>Fill in block</p>
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascript %}<script src="/js/countries.js"></script>
<script src="/js/admin.js"></script>{% endblock %}
