{% extends "admin_models.html" %}
{% block title %}
	{{title}} - {{ studio.name }}
{% endblock %}
{% block main %}
<span class="temp-admin-view">
	<ol class="breadcrumb">
		<li>
			<a href="/admin/models/studio/browse/">All</a>
		</li>
	{% for crumb in breadcrumbs %}
		{% if crumb == breadcrumbs[-1] %} 
			<li class="active">
				{{ crumb[0] }}
			</li>
		{% else %}
			<li>
				<a href="/admin/models/studio/browse/{{ crumb[1] }}">{{ crumb[0] }}</a>
			</li>
		{% endif %}
	{% endfor %}
	</ol>

	<div class="row">
		<div class="col-lg-12">
			<h1>{{ studio.name }}</h1>
			<a href="{{ studio.edit }}"><button class="btn btn-primary">Edit</button></a>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">

			<!-- Website -->
			{% if studio.website.get() %}
				<strong class="section-label">Websites</strong>

				<ul class="list-unstyled">
				{% for website in studio.website|sort(reverse=True,attribute='primary') %}
					<li>
						<a target="_blank" href="{{ website.url }}">{{ website.url.split('://')[1].split('/')[0] }}</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}

			<!-- Gallery -->
			{% if studio.gallery.get() %}
				<strong class="section-label">Galleries</strong>

				<ul class="list-unstyled">
				{% for gallery in studio.gallery|sort(reverse=True,attribute='primary') %}
					<li>
						<a target="_blank" href="{{ gallery.url }}">Gallery</a>
					</li>
				{% endfor %}
				</ul>
			{% endif %}

			{% if studio.instagram.get() or studio.facebook.get() or studio.twitter.get() or studio.tumblr.get() %}
			<strong class="section-label">Social</strong>
			{% endif %}

			{% if studio.instagram.get() %}
				{% for instagram in studio.instagram|sort(reverse=True,attribute='primary') %}
					<i class="icon-instagram icon-large"></i> <a target="_blank" href="http://www.instagram.com/{{ instagram.instagram }}">Instagram</a>
					{% if instagram.user_id %}<abbr title="{{ instagram.user_id }}">id</abbr>{% endif %}<br/>
				{% endfor %}
			{% endif %}

			{% if studio.foursquare.get() %}
				{% for foursquare in studio.foursquare|sort(reverse=True,attribute='primary') %}
					<i class="icon-foursquare icon-large"></i> <a target="_blank" href="{{ foursquare.foursquare }}">Foursquare</a>
					{% if foursquare.location_id %}<abbr title="{{ foursquare.location_id }}">id</abbr> (<a target="_blank" href="http://web.stagram.com/location/{{ foursquare.location_id }}">w</a>){% endif %}<br/>
				{% endfor %}
			{% endif %}

			{% if studio.twitter.get() %}
				{% for twitter in studio.twitter|sort(reverse=True,attribute='primary') %}
					<i class="icon-twitter-sign icon-large"></i> <a target="_blank" href="http://www.twitter.com/{{ twitter.twitter }}">Twitter</a><br/>
				{% endfor %}
			{% endif %}

			{% if studio.facebook.get() %}
				{% for facebook in studio.facebook|sort(reverse=True,attribute='primary') %}
					<i class="icon-facebook-sign icon-large"></i> <a target="_blank" href="{{ facebook.facebook }}">Facebook</a><br/>
				{% endfor %}
			{% endif %}

			{% if studio.tumblr.get() %}
				{% for tumblr in studio.tumblr|sort(reverse=True,attribute='primary') %}
					<i class="icon-tumblr-sign icon-large"></i> <a target="_blank" href="{{ tumblr.tumblr }}">Tumblr</a><br/>
				{% endfor %}
			{% endif %}
		</div>

		<div class="col-lg-4">
			<strong class="section-label">Address</strong>

			<address>
				<strong>{{ studio.name }}</strong><br/>

				<!-- Address -->
				<p>
					{% if studio.address.get().street %}
						<span class="white-space">{{ studio.address.get().street }}</span><br/>
					{% endif %}

					{% if studio.address.get().locality %}
						{{ studio.address.get().locality }},
					{% endif %}

					{% if studio.subdivision %}
						{{ studio.subdivision }} 
					{% endif %}

					{% if studio.address.get().postal_code %}
						{{ studio.address.get().postal_code }}
					{% endif %}

					{% if studio.country %}
						<br/>{{ studio.country }}
					{% endif %}
				</p>

				<!-- Email -->
				{% if studio.email %}
				<p>
					{% for email in studio.email|sort(reverse=True,attribute='primary') %}
						<a href="mailto:{{ email.email }}">{{ email.email }}</a><br/>
					{% endfor %}
				</p>
				{% endif %}

				<!-- Phone -->
				{% if studio.phone %}
				<p>
				{% for phone in studio.phone|sort(reverse=True,attribute='primary') %}
					<abbr title="{{ phone.phone_type.capitalize() }} Phone">{{ phone.phone_type[0].capitalize() }}:</abbr>
					<a href="tel:{{ phone.country_code }}{{ phone.number }}">
						+{{ phone.country_code }} 
						{% if phone.country_code == '1' %}
							{% set number = phone.number|replace("-","")
														|replace(" ","")
														|replace("(","")
														|replace(")","")
														|replace(".","") %}
							{{ '(%s) %s-%s' % (number[0:3],number[3:6],number[6:]) }}
						{% else %}
							{{ phone.number }}
						{% endif %}
					</a><br/>
				{% endfor %}
				</p>
				{% endif %}

			</address>

			{% if studio.mailing_address.get() %}
			<address>
				<strong class="section-label">Mailing Address</strong>

				<!-- Mailing Address -->
				<p>
					{% if studio.mailing_address.get().street %}
						<span class="white-space">{{ studio.mailing_address.get().street }}</span><br/>
					{% endif %}

					{% if studio.mailing_address.get().locality %}
						{{ studio.mailing_address.get().locality }},
					{% endif %}

					{% if studio.ma_subdivision %}
						{{ studio.ma_subdivision }} 
					{% endif %}

					{% if studio.mailing_address.get().postal_code %}
						{{ studio.mailing_address.get().postal_code }}
					{% endif %}

					{% if studio.ma_country %}
						<br/>{{ studio.ma_country }}
					{% endif %}
				</p>
			</address>
			{% endif %}
		</div>

		<div class="col-lg-4">
			<!-- Map -->
			{% if map_url %}
			<a target="_blank" href="https://www.google.com/maps?q={{ studio.address.get().location.lat }},{{ studio.address.get().location.lon }}"><img src="{{ map_url }}"></a>
			{% endif %}
		</div>
	</div>

	<!-- Artists -->
	<div class="row tp-relationships">
		<div class="col-lg-12">
			<ul class="list-inline">
				<li><strong class="section-label">Artists</strong></li>
				<li><a href="/admin/models/artist/search?studio={{ breadcrumbs[-1][1] }}"><i class="icon-user icon-large"></i> Add artist</a></li>
				<li><a href="/admin/models/artist/create?studio={{ breadcrumbs[-1][1] }}"><i class="icon-plus-sign-alt icon-large"></i> Create and add artist</a></li>
			</ul>
			{% if artists %}
			<ul class="list-unstyled">
				{% for artist in artists %}
				<li>
					<a href="{{ artist.link }}">{{ artist.name }}</a> ({{ artist.rel }})
					<form method="post" class="del-rel">
						<small><button type="submit" name="del-rel" value="{{ artist.relid }}">remove</button></small>
					</form>
				</li>
				{% endfor %}
			</ul>
			{% endif %}
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10">
			<small class="text-muted">Created on {{ studio.created.ctime() }}. Last updated on {{ studio.last_edited.ctime() }}.</small>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-10">
			<a href="{{ studio.delete }}"><button class="btn btn-danger">Delete</button></a>
		</div>
	</div>

</span>
{% endblock %}