{% extends "admin_models.html" %}

{% block main %}
	<h1>Create New Studio</h1>

	<form method="post" class="form-horizontal">
		<fieldset>
			<legend>
				General
			</legend>

			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-9">
					<input type="text" name="email" id="email" class="form-control" placeholder="Enter email">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<div class="form-group">
				<label for="phone" class="col-lg-2 control-label">Phone</label>
				<div class="col-lg-9">
					<input type="text" name="phone" id="phone" class="form-control" placeholder="Enter phone">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<div class="form-group">
				<label for="website" class="col-lg-2 control-label">Website</label>
				<div class="col-lg-9">
					<input type="text" name="website" id="website" class="form-control" placeholder="Enter website">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>
		</fieldset>

		<fieldset>
			<legend>
				Social usernames
			</legend>

			<div class="form-group">
				<label for="instagram_username" class="col-lg-2 control-label">Instagram</label>
				<div class="col-lg-9">
					<input type="text" name="instagram_username" id="instagram_username" class="form-control" placeholder="Enter Instagram username">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<div class="form-group">
				<label for="facebook_username" class="col-lg-2 control-label">Facebook</label>
				<div class="col-lg-9">
					<input type="text" name="facebook_username" id="facebook_username" class="form-control" placeholder="Enter Facebook username">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<div class="form-group">
				<label for="twitter_username" class="col-lg-2 control-label">Twitter</label>
				<div class="col-lg-9">
					<input type="text" name="twitter_username" id="twitter_username" class="form-control" placeholder="Enter Twitter username">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<div class="form-group">
				<label for="tumblr_username" class="col-lg-2 control-label">Tumblr</label>
				<div class="col-lg-9">
					<input type="text" name="tumblr_username" id="tumblr_username" class="form-control" placeholder="Enter Tumblr username">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>
		</fieldset>

		<fieldset id="address">
			<legend>
				Address
			</legend>

			<div class="form-group">
				<label for="street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="street" id="street" class="form-control" placeholder="Enter street"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label for="city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="city" id="city" class="form-control" placeholder="Enter city">
				</div>
			</div>
			
			<div class="form-group">
				<label for="subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					<input type="text" name="subdivision" id="subdivision" class="form-control" placeholder="Enter state/province">
				</div>
			</div>
			
			<div class="form-group">
				<label for="postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="Enter ZIP/postal code">
				</div>
			</div>
			
			<div class="form-group">
				<label for="country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<input type="text" name="country" id="country" class="form-control" placeholder="Enter country">
				</div>
			</div>
		</fieldset>

		<fieldset>
			<legend>
				Mailing address
			</legend>

			<div class="form-group">
				<label for="mailing-street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="mailing-street" id="mailing-street" class="form-control" placeholder="Enter street"></textarea>
				</div>
			</div>
			
			<div class="form-group">
				<label for="mailing-city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-city" id="mailing-city" class="form-control" placeholder="Enter city">
				</div>
			</div>
			
			<div class="form-group">
				<label for="mailing-subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-subdivision" id="mailing-subdivision" class="form-control" placeholder="Enter state/province">
				</div>
			</div>
			
			<div class="form-group">
				<label for="mailing-postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-postal_code" id="mailing-postal_code" class="form-control" placeholder="Enter ZIP/postal code">
				</div>
			</div>
			
			<div class="form-group">
				<label for="mailing-country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-country" id="mailing-country" class="form-control" placeholder="Enter country">
				</div>
			</div>
		</fieldset>

		<button type="submit" class="btn btn-primary">Create New Studio</button>
	</form>
{% endblock %}