{% extends "admin_settings.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block main %}
	<h1>{{ title }}</h1>

	<ul class="list-unstyled">
		{% for obj_type,objects in otc.iteritems() %}
		<h2>{{ obj_type|capitalize }}</h2>
		{% for o in objects %}
		<li>
			<span class="{% if o[1] and o[1] != 'NOFEED' %}text-success{% elif not o[1] %}text-danger{% endif %}"><strong>{% if o[1] and o[1] != 'NOFEED' %}YES{% elif not o[1] %}NO{% else %}NOFEED{% endif %}</strong></span> - 
			{{ o[0] }}
		</li>
		{% endfor %}
		{% endfor %}
	</ul>

{% endblock %}