{% extends "admin_models.html" %}

{% block main %}
	<h1>Create New Studio</h1>

	{% if error %}
	<p class="text-danger form-error"><b>Form Error:</b> {{ error }}</p>
	{% endif %}

	<form method="post" class="form-horizontal" id="create-new-studio">
		<fieldset>
			<legend>
				General
			</legend>

			<p> {{ emails }} </p>

			<!-- Name -->
			<div class="form-group">
				<label for="name" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-9">
					<input type="text" name="name" id="name" class="form-control" pattern=".{3,500}" placeholder="3-500 characters" value="{{ args['name'] }}" required>
				</div>
			</div>

			<!-- Email -->
			{% set key = 'email' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}

				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Email</label>
					<div class="col-lg-9">
						<input type="email" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="For example: lee@tattooport.com" value="{{ args[key] }}">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			<!-- Phone -->
			{% set key = 'phonenumber' %}
			{% set ext = '' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set ext = '-%s' % (i,) %}
				{% endif %}

				<div class="form-group">
					<label for="phone{{ ext }}" class="col-lg-2 control-label">Phone</label>
					<div class="col-lg-2">
						<select name="phonetype{{ ext }}" id="phonetype{{ ext }}" class="form-control">
							<option value="work" {% if args['phonetype%s' % (ext,)] == 'work' %}selected{% endif %}>Work</option>
							<option value="mobile" {% if args['phonetype%s' % (ext,)] == 'mobile' %}selected{% endif %}>Mobile</option>
							<option value="home" {% if args['phonetype%s' % (ext,)] == 'home' %}selected{% endif %}>Home</option>
							<option value="fax" {% if args['phonetype%s' % (ext,)] == 'fax' %}selected{% endif %}>Fax</option>
							<option value="other" {% if args['phonetype%s' % (ext,)] == 'other' %}selected{% endif %}>Other</option>
						</select>
					</div>
					<div class="col-lg-3">
						<select name="countrycode{{ ext }}" id="countrycode{{ ext }}" class="form-control">
							<option value="US" {% if args['countrycode%s' % (ext,)] == 'US' %}selected{% endif %}>US +1</option>
							<option value="DE" {% if args['countrycode%s' % (ext,)] == 'DE' %}selected{% endif %}>Germany +49</option>
						</select>
					</div>
					<div class="col-lg-4">
						<input type="tel" name="phonenumber{{ ext }}" id="phonenumber{{ ext }}" class="form-control" placeholder="For example: 215-555-1234" value="{{ args['phonenumber%s' % (ext,)] }}">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			<!-- Website -->
			{% set key = 'website' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Website</label>
					<div class="col-lg-9">
						<input type="url" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="For example: http://www.tattooport.com" value="{{ args[key] }}">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			
			<!-- Gallery -->
			{% set key = 'gallery' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Gallery</label>
					<div class="col-lg-9">
						<input type="url" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="For example: http://www.tattooport.com/gallery" value="{{ args[key] }}">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}
		</fieldset>

		<fieldset>
			<legend>
				Social usernames
			</legend>

			
			<!-- Instagram -->
			{% set key = 'instagram_username' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Instagram</label>
					<div class="col-lg-9">
						<input type="text" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="1 - 30 characters. For example: tattooport" value="{{ args[key] }}" pattern="^[A-Za-z0-9_]{1,30}$">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			<!-- Facebook -->
			{% set key = 'facebook_username' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Facebook</label>
					<div class="col-lg-9">
						<input type="text" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="5 - 50 characters. For example: tattooport" value="{{ args[key] }}" pattern="^[a-z\d\.]{5,50}$">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			<!-- Twitter -->
			{% set key = 'twitter_username' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Twitter</label>
					<div class="col-lg-9">
						<input type="text" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="1 - 32 characters. For example: tattooport" value="{{ args[key] }}" pattern="^[A-Za-z0-9_]{1,32}$">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}

			<!-- Tumblr -->
			{% set key = 'tumblr_username' %}
			{% set max = num_fields.get(key) and num_fields.get(key) or 1 %}

			{% for i in range(1,max+1) %}
				{% if i > 1 %}
					{% set key = '%s-%s' % (key.split('-')[0],i) %}
				{% endif %}
				<div class="form-group">
					<label for="{{ key }}" class="col-lg-2 control-label">Tumblr</label>
					<div class="col-lg-9">
						<input type="text" name="{{ key }}" id="{{ key }}" class="form-control" placeholder="1 - 32 characters. For example: tattooport" value="{{ args[key] }}" pattern="^[A-Za-z0-9-_]{1,32}$">
					</div>
					<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
				</div>
			{% endfor %}
		</fieldset>

		<!-- Address -->
		<fieldset id="address">
			<legend>
				Address
			</legend>

			<!-- Street -->
			<div class="form-group">
				<label for="street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="street" id="street" class="form-control" placeholder="Enter street">{{ args['street'] }}</textarea>
				</div>
			</div>
			
			<!-- City -->
			<div class="form-group">
				<label for="city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="city" id="city" class="form-control" placeholder="Enter city" value="{{ args['city'] }}">
				</div>
			</div>
			
			<!-- Country -->
			<div class="form-group">
				<label for="country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<select name="country" id="country" class="form-control chosen-select country">
						<option value="" selected>If you see this, something went wrong :(</option>
					</select>
				</div>
			</div>
			
			<!-- State/Province -->
			<div class="form-group">
				<label for="subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					<select name="subdivision" id="subdivision" class="form-control chosen-select subdivisions">
						<option value="" selected>If you see this, something went wrong :(</option>
					</select>
				</div>
			</div>
			
			<!-- ZIP/Postal code -->
			<div class="form-group">
				<label for="postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="Enter ZIP/postal code" value="{{ args['postal_code'] }}">
				</div>
			</div>
		</fieldset>

		<!-- Different mailing address? -->
		<div class="form-group col-lg-12 text-muted" id="different-ma">
			<label for="ma_toggle">Different mailing address?</label>
			<input type="radio" name="ma_toggle" value="yes"{% if args and args['ma_toggle'] == 'yes' %} checked{% endif %}/> Yes
			<input type="radio" name="ma_toggle" value="no"{% if args['ma_toggle'] == 'no' or not args%} checked{% endif %}/> No
		</div>

		<!-- Mailing Address -->
		<fieldset id="mailing_address">
			<legend>
				Mailing address
			</legend>

			<!-- MA: Street -->
			<div class="form-group">
				<label for="ma_street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="ma_street" id="ma_street" class="form-control" placeholder="Enter street">{{ args['ma_street'] }}</textarea>
				</div>
			</div>
			
			<!-- MA: City -->
			<div class="form-group">
				<label for="ma_city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="ma_city" id="ma_city" class="form-control" placeholder="Enter city" value="{{ args['ma_city'] }}">
				</div>
			</div>
			
			<!-- MA: Country -->
			<div class="form-group">
				<label for="ma_country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<select name="ma_country" id="ma_country" class="form-control chosen-select country">
						<option value="" selected>If you see this, something went wrong :(</option>
					</select>
				</div>
			</div>
			
			<!-- MA: State/Province -->
			<div class="form-group">
				<label for="ma_subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					
					<select name="ma_subdivision" id="ma_subdivision" class="form-control chosen-select subdivisions">
						<option value="" selected>If you see this, something went wrong :(</option>
					</select>
				</div>
			</div>
			
			<!-- MA: ZIP/Postal code -->
			<div class="form-group">
				<label for="ma_postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="ma_postal_code" id="ma_postal_code" class="form-control" placeholder="Enter ZIP/postal code" value="{{ args['ma_postal_code'] }}">
				</div>
			</div>
		</fieldset>

		<button type="submit" class="btn btn-primary">Create New Studio</button>
	</form>

	<script type="text/javascript">
	var $_LOC = {
		"country":"{{ args['country'] }}",
		"subdivision":"{{ args['subdivision'] }}",
		"ma_country":"{{ args['ma_country'] }}",
		"ma_subdivision":"{{ args['ma_subdivision'] }}"};
	</script>
{% endblock %}