{% extends "admin_models.html" %}

{% block title %}
	Browse {{ active_nav|capitalize }}
{% endblock %}

{% block main %}
<span class="temp-admin-browse">
	<h1>Browse</h1>

	<div class="row">
		<div class="col-lg-10">
			<ul class="list-unstyled">
			{% for country in regions %}
				<li>
					<a href="/admin/models/{{ active_nav }}/browse/{{ country[0].key.id() }}">
						{{ country[0].display_name }}
					</a>
					<ul class="list-unstyled">
					{% for subdivision in country[1] %}
						<li>
							<a href="/admin/models/{{ active_nav }}/browse/{{ country[0].key.id() }}/{{ subdivision[0].key.id() }}">
								{{ subdivision[0].display_name }}
							</a>
							<ul class="list-unstyled">
							{% for locality in subdivision[1] %}
								<li>
									<a href="/admin/models/{{ active_nav }}/browse/{{ country[0].key.id() }}/{{ subdivision[0].key.id() }}/{{ locality[1] }}">
										{{ locality[0].display_name }}
									</a>
								</li>
							{% endfor %}
							</ul>
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</span>
{% endblock %}