{% extends "admin_models.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block main %}
<span class="temp-admin-browse-region">
	<ol class="breadcrumb">
		<li>
			<a href="/admin/models/{{ active_nav }}/browse/">All</a>
		</li>
	{% for crumb in breadcrumbs %}
		{% if crumb == breadcrumbs[-1] %} 
			<li class="active">
				{{ crumb[0] }}
			</li>
		{% else %}
			<li>
				<a href="/admin/models/{{ active_nav }}/browse/{{ crumb[1] }}">{{ crumb[0] }}</a>
			</li>
		{% endif %}
	{% endfor %}
	</ol>

	<h1>{{ breadcrumbs[-1][0] }} ({{ result_count }})</h1>

	{% if regions %}
	<ul class="list-unstyled">
		{% for region in regions %}
		<li>
			<a href="/admin/models/{{ active_nav }}/browse/{{ breadcrumbs[-1][1] }}/{{ region.key.pairs()[-1][1] }}">{{ region.display_name }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	<ul class="list-unstyled">
	{% for result in results %}
		<li>
			<h3>
				<a href="/admin/models/{{ active_nav }}/view{{ result[1] }}">
					{{ result[0].name }}{{ result[0].display_name}}
				</a>
			</h3>
		</li>
	{% endfor %}
	</ul>
</span>
{% endblock %}