{% extends "admin_models.html" %}

{% block main %}
	<h1>Create New Studio</h1>

	<form method="post" class="form-horizontal" id="create-new-studio">
		<fieldset>
			<legend>
				General
			</legend>

			<!-- Name -->
			<div class="form-group">
				<label for="name" class="col-lg-2 control-label">Name</label>
				<div class="col-lg-9">
					<input type="text" name="name" id="name" class="form-control" pattern=".{3,500}" placeholder="3-500 characters" required>
				</div>
			</div>

			<!-- Email -->
			<div class="form-group">
				<label for="email" class="col-lg-2 control-label">Email</label>
				<div class="col-lg-9">
					<input type="email" name="email" id="email" class="form-control" placeholder="For example: lee@tattooport.com">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<!-- Phone -->
			<div class="form-group">
				<label for="phone" class="col-lg-2 control-label">Phone</label>
				<div class="col-lg-2">
					<select name="phonetype" id="phonetype" class="form-control">
						<option value="work" selected>Work</option>
						<option value="mobile">Mobile</option>
						<option value="home">Home</option>
						<option value="fax">Fax</option>
						<option value="other">Other</option>
					</select>
				</div>
				<div class="col-lg-3">
					<select name="countrycode" id="countrycode" class="form-control">
						<option value="US" selected>US +1</option>
						<option value="DE">Germany +49</option>
					</select>
				</div>
				<div class="col-lg-4">
					<input type="tel" name="phonenumber" id="phonenumber" class="form-control" placeholder="For example: 215-555-1234">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<!-- Website -->
			<div class="form-group">
				<label for="website" class="col-lg-2 control-label">Website</label>
				<div class="col-lg-9">
					<input type="url" name="website" id="website" class="form-control" placeholder="For example: http://www.tattooport.com">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>
		</fieldset>

		<fieldset>
			<legend>
				Social usernames
			</legend>

			<!-- Instagram -->
			<div class="form-group">
				<label for="instagram_username" class="col-lg-2 control-label">Instagram</label>
				<div class="col-lg-9">
					<input type="text" name="instagram_username" id="instagram_username" class="form-control" placeholder="For example: tattooport">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<!-- Facebook -->
			<div class="form-group">
				<label for="facebook_username" class="col-lg-2 control-label">Facebook</label>
				<div class="col-lg-9">
					<input type="text" name="facebook_username" id="facebook_username" class="form-control" placeholder="For example: tattooport">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<!-- Twitter -->
			<div class="form-group">
				<label for="twitter_username" class="col-lg-2 control-label">Twitter</label>
				<div class="col-lg-9">
					<input type="text" name="twitter_username" id="twitter_username" class="form-control" placeholder="For example: tattooport">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>

			<!-- Tumblr -->
			<div class="form-group">
				<label for="tumblr_username" class="col-lg-2 control-label">Tumblr</label>
				<div class="col-lg-9">
					<input type="text" name="tumblr_username" id="tumblr_username" class="form-control" placeholder="For example: tattooport">
				</div>
				<a href="#" class="add-form-field"><i class="icon-plus-sign icon-2x col-lg-1"></i></a>
			</div>
		</fieldset>

		<!-- Address -->
		<fieldset id="address">
			<legend>
				Address
			</legend>

			<!-- Street -->
			<div class="form-group">
				<label for="street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="street" id="street" class="form-control" placeholder="Enter street"></textarea>
				</div>
			</div>
			
			<!-- City -->
			<div class="form-group">
				<label for="city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="city" id="city" class="form-control" placeholder="Enter city">
				</div>
			</div>
			
			<!-- Country -->
			<div class="form-group">
				<label for="country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<select name="country" id="country" class="form-control chosen-select">
						<option value="US" selected>United States</option>
						<option value="DE">Germany</option>
						<option value="AF">Afghanistan</option>
						<option value="AX">Åland Islands</option>
						<option value="AL">Albania</option>
						<option value="DZ">Algeria</option>
						<option value="AS">American Samoa</option>
						<option value="AD">Andorra</option>
						<option value="AO">Angola</option>
						<option value="AI">Anguilla</option>
						<option value="AQ">Antarctica</option>
						<option value="AG">Antigua and Barbuda</option>
						<option value="AR">Argentina</option>
						<option value="AM">Armenia</option>
						<option value="AW">Aruba</option>
						<option value="AU">Australia</option>
						<option value="AT">Austria</option>
						<option value="AZ">Azerbaijan</option>
						<option value="BS">Bahamas</option>
						<option value="BH">Bahrain</option>
						<option value="BD">Bangladesh</option>
						<option value="BB">Barbados</option>
						<option value="BY">Belarus</option>
						<option value="BE">Belgium</option>
						<option value="BZ">Belize</option>
						<option value="BJ">Benin</option>
						<option value="BM">Bermuda</option>
						<option value="BT">Bhutan</option>
						<option value="BO">Bolivia, Plurinational State of</option>
						<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
						<option value="BA">Bosnia and Herzegovina</option>
						<option value="BW">Botswana</option>
						<option value="BV">Bouvet Island</option>
						<option value="BR">Brazil</option>
						<option value="IO">British Indian Ocean Territory</option>
						<option value="BN">Brunei Darussalam</option>
						<option value="BG">Bulgaria</option>
						<option value="BF">Burkina Faso</option>
						<option value="BI">Burundi</option>
						<option value="KH">Cambodia</option>
						<option value="CM">Cameroon</option>
						<option value="CA">Canada</option>
						<option value="CV">Cape Verde</option>
						<option value="KY">Cayman Islands</option>
						<option value="CF">Central African Republic</option>
						<option value="TD">Chad</option>
						<option value="CL">Chile</option>
						<option value="CN">China</option>
						<option value="CX">Christmas Island</option>
						<option value="CC">Cocos (Keeling) Islands</option>
						<option value="CO">Colombia</option>
						<option value="KM">Comoros</option>
						<option value="CG">Congo</option>
						<option value="CD">Congo, the Democratic Republic of the</option>
						<option value="CK">Cook Islands</option>
						<option value="CR">Costa Rica</option>
						<option value="CI">Côte d'Ivoire</option>
						<option value="HR">Croatia</option>
						<option value="CU">Cuba</option>
						<option value="CW">Curaçao</option>
						<option value="CY">Cyprus</option>
						<option value="CZ">Czech Republic</option>
						<option value="DK">Denmark</option>
						<option value="DJ">Djibouti</option>
						<option value="DM">Dominica</option>
						<option value="DO">Dominican Republic</option>
						<option value="EC">Ecuador</option>
						<option value="EG">Egypt</option>
						<option value="SV">El Salvador</option>
						<option value="GQ">Equatorial Guinea</option>
						<option value="ER">Eritrea</option>
						<option value="EE">Estonia</option>
						<option value="ET">Ethiopia</option>
						<option value="FK">Falkland Islands (Malvinas)</option>
						<option value="FO">Faroe Islands</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finland</option>
						<option value="FR">France</option>
						<option value="GF">French Guiana</option>
						<option value="PF">French Polynesia</option>
						<option value="TF">French Southern Territories</option>
						<option value="GA">Gabon</option>
						<option value="GM">Gambia</option>
						<option value="GE">Georgia</option>
						<option value="DE">Germany</option>
						<option value="GH">Ghana</option>
						<option value="GI">Gibraltar</option>
						<option value="GR">Greece</option>
						<option value="GL">Greenland</option>
						<option value="GD">Grenada</option>
						<option value="GP">Guadeloupe</option>
						<option value="GU">Guam</option>
						<option value="GT">Guatemala</option>
						<option value="GG">Guernsey</option>
						<option value="GN">Guinea</option>
						<option value="GW">Guinea-Bissau</option>
						<option value="GY">Guyana</option>
						<option value="HT">Haiti</option>
						<option value="HM">Heard Island and McDonald Islands</option>
						<option value="VA">Holy See (Vatican City State)</option>
						<option value="HN">Honduras</option>
						<option value="HK">Hong Kong</option>
						<option value="HU">Hungary</option>
						<option value="IS">Iceland</option>
						<option value="IN">India</option>
						<option value="ID">Indonesia</option>
						<option value="IR">Iran, Islamic Republic of</option>
						<option value="IQ">Iraq</option>
						<option value="IE">Ireland</option>
						<option value="IM">Isle of Man</option>
						<option value="IL">Israel</option>
						<option value="IT">Italy</option>
						<option value="JM">Jamaica</option>
						<option value="JP">Japan</option>
						<option value="JE">Jersey</option>
						<option value="JO">Jordan</option>
						<option value="KZ">Kazakhstan</option>
						<option value="KE">Kenya</option>
						<option value="KI">Kiribati</option>
						<option value="KP">Korea, Democratic People's Republic of</option>
						<option value="KR">Korea, Republic of</option>
						<option value="KW">Kuwait</option>
						<option value="KG">Kyrgyzstan</option>
						<option value="LA">Lao People's Democratic Republic</option>
						<option value="LV">Latvia</option>
						<option value="LB">Lebanon</option>
						<option value="LS">Lesotho</option>
						<option value="LR">Liberia</option>
						<option value="LY">Libya</option>
						<option value="LI">Liechtenstein</option>
						<option value="LT">Lithuania</option>
						<option value="LU">Luxembourg</option>
						<option value="MO">Macao</option>
						<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
						<option value="MG">Madagascar</option>
						<option value="MW">Malawi</option>
						<option value="MY">Malaysia</option>
						<option value="MV">Maldives</option>
						<option value="ML">Mali</option>
						<option value="MT">Malta</option>
						<option value="MH">Marshall Islands</option>
						<option value="MQ">Martinique</option>
						<option value="MR">Mauritania</option>
						<option value="MU">Mauritius</option>
						<option value="YT">Mayotte</option>
						<option value="MX">Mexico</option>
						<option value="FM">Micronesia, Federated States of</option>
						<option value="MD">Moldova, Republic of</option>
						<option value="MC">Monaco</option>
						<option value="MN">Mongolia</option>
						<option value="ME">Montenegro</option>
						<option value="MS">Montserrat</option>
						<option value="MA">Morocco</option>
						<option value="MZ">Mozambique</option>
						<option value="MM">Myanmar</option>
						<option value="NA">Namibia</option>
						<option value="NR">Nauru</option>
						<option value="NP">Nepal</option>
						<option value="NL">Netherlands</option>
						<option value="NC">New Caledonia</option>
						<option value="NZ">New Zealand</option>
						<option value="NI">Nicaragua</option>
						<option value="NE">Niger</option>
						<option value="NG">Nigeria</option>
						<option value="NU">Niue</option>
						<option value="NF">Norfolk Island</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="NO">Norway</option>
						<option value="OM">Oman</option>
						<option value="PK">Pakistan</option>
						<option value="PW">Palau</option>
						<option value="PS">Palestine, State of</option>
						<option value="PA">Panama</option>
						<option value="PG">Papua New Guinea</option>
						<option value="PY">Paraguay</option>
						<option value="PE">Peru</option>
						<option value="PH">Philippines</option>
						<option value="PN">Pitcairn</option>
						<option value="PL">Poland</option>
						<option value="PT">Portugal</option>
						<option value="PR">Puerto Rico</option>
						<option value="QA">Qatar</option>
						<option value="RE">Réunion</option>
						<option value="RO">Romania</option>
						<option value="RU">Russian Federation</option>
						<option value="RW">Rwanda</option>
						<option value="BL">Saint Barthélemy</option>
						<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
						<option value="KN">Saint Kitts and Nevis</option>
						<option value="LC">Saint Lucia</option>
						<option value="MF">Saint Martin (French part)</option>
						<option value="PM">Saint Pierre and Miquelon</option>
						<option value="VC">Saint Vincent and the Grenadines</option>
						<option value="WS">Samoa</option>
						<option value="SM">San Marino</option>
						<option value="ST">Sao Tome and Principe</option>
						<option value="SA">Saudi Arabia</option>
						<option value="SN">Senegal</option>
						<option value="RS">Serbia</option>
						<option value="SC">Seychelles</option>
						<option value="SL">Sierra Leone</option>
						<option value="SG">Singapore</option>
						<option value="SX">Sint Maarten (Dutch part)</option>
						<option value="SK">Slovakia</option>
						<option value="SI">Slovenia</option>
						<option value="SB">Solomon Islands</option>
						<option value="SO">Somalia</option>
						<option value="ZA">South Africa</option>
						<option value="GS">South Georgia and the South Sandwich Islands</option>
						<option value="SS">South Sudan</option>
						<option value="ES">Spain</option>
						<option value="LK">Sri Lanka</option>
						<option value="SD">Sudan</option>
						<option value="SR">Suriname</option>
						<option value="SJ">Svalbard and Jan Mayen</option>
						<option value="SZ">Swaziland</option>
						<option value="SE">Sweden</option>
						<option value="CH">Switzerland</option>
						<option value="SY">Syrian Arab Republic</option>
						<option value="TW">Taiwan, Province of China</option>
						<option value="TJ">Tajikistan</option>
						<option value="TZ">Tanzania, United Republic of</option>
						<option value="TH">Thailand</option>
						<option value="TL">Timor-Leste</option>
						<option value="TG">Togo</option>
						<option value="TK">Tokelau</option>
						<option value="TO">Tonga</option>
						<option value="TT">Trinidad and Tobago</option>
						<option value="TN">Tunisia</option>
						<option value="TR">Turkey</option>
						<option value="TM">Turkmenistan</option>
						<option value="TC">Turks and Caicos Islands</option>
						<option value="TV">Tuvalu</option>
						<option value="UG">Uganda</option>
						<option value="UA">Ukraine</option>
						<option value="AE">United Arab Emirates</option>
						<option value="GB">United Kingdom</option>
						<option value="US">United States</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="UY">Uruguay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VU">Vanuatu</option>
						<option value="VE">Venezuela, Bolivarian Republic of</option>
						<option value="VN">Viet Nam</option>
						<option value="VG">Virgin Islands, British</option>
						<option value="VI">Virgin Islands, U.S.</option>
						<option value="WF">Wallis and Futuna</option>
						<option value="EH">Western Sahara</option>
						<option value="YE">Yemen</option>
						<option value="ZM">Zambia</option>
						<option value="ZW">Zimbabwe</option>
					</select>
				</div>
			</div>
			
			<!-- State/Province -->
			<div class="form-group">
				<label for="subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					<select name="subdivision" id="subdivision" class="form-control chosen-select">
						<option value="US-AL">Alabama</option>
						<option value="US-AK">Alaska</option>
						<option value="US-AS">American Samoa</option>
						<option value="US-AZ">Arizona</option>
						<option value="US-AR">Arkansas</option>
						<option value="US-CA">California</option>
						<option value="US-CO">Colorado</option>
						<option value="US-CT">Connecticut</option>
						<option value="US-DE">Delaware</option>
						<option value="US-DC">District of Columbia</option>
						<option value="US-FL">Florida</option>
						<option value="US-GA">Georgia</option>
						<option value="US-GU">Guam</option>
						<option value="US-HI">Hawaii</option>
						<option value="US-ID">Idaho</option>
						<option value="US-IL">Illinois</option>
						<option value="US-IN">Indiana</option>
						<option value="US-IA">Iowa</option>
						<option value="US-KS">Kansas</option>
						<option value="US-KY">Kentucky</option>
						<option value="US-LA">Louisiana</option>
						<option value="US-ME">Maine</option>
						<option value="US-MD">Maryland</option>
						<option value="US-MA">Massachusetts</option>
						<option value="US-MI">Michigan</option>
						<option value="US-MN">Minnesota</option>
						<option value="US-MS">Mississippi</option>
						<option value="US-MO">Missouri</option>
						<option value="US-MT">Montana</option>
						<option value="US-NE">Nebraska</option>
						<option value="US-NV">Nevada</option>
						<option value="US-NH">New Hampshire</option>
						<option value="US-NJ">New Jersey</option>
						<option value="US-NM">New Mexico</option>
						<option value="US-NY">New York</option>
						<option value="US-NC">North Carolina</option>
						<option value="US-ND">North Dakota</option>
						<option value="US-MP">Northern Mariana Islands</option>
						<option value="US-OH">Ohio</option>
						<option value="US-OK">Oklahoma</option>
						<option value="US-OR">Oregon</option>
						<option value="US-PA">Pennsylvania</option>
						<option value="US-PR">Puerto Rico</option>
						<option value="US-RI">Rhode Island</option>
						<option value="US-SC">South Carolina</option>
						<option value="US-SD">South Dakota</option>
						<option value="US-TN">Tennessee</option>
						<option value="US-TX">Texas</option>
						<option value="US-UM">United States Minor Outlying Islands</option>
						<option value="US-UT">Utah</option>
						<option value="US-VT">Vermont</option>
						<option value="US-VI">Virgin Islands, U.S.</option>
						<option value="US-VA">Virginia</option>
						<option value="US-WA">Washington</option>
						<option value="US-WV">West Virginia</option>
						<option value="US-WI">Wisconsin</option>
						<option value="US-WY">Wyoming</option>
					</select>
				</div>
			</div>
			
			<!-- ZIP/Postal code -->
			<div class="form-group">
				<label for="postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="postal_code" id="postal_code" class="form-control" placeholder="Enter ZIP/postal code">
				</div>
			</div>
		</fieldset>

		<!-- Different mailing address? -->
		<div class="form-group col-lg-12 text-muted" id="different-ma">
			<label for="ma-toggle">Different mailing address?</label>
			<input type="radio" name="ma-toggle" value="yes"/> Yes
			<input type="radio" name="ma-toggle" value="no" checked/> No
		</div>

		<!-- Mailing Address -->
		<fieldset id="mailing-address">
			<legend>
				Mailing address
			</legend>

			<!-- MA: Street -->
			<div class="form-group">
				<label for="mailing-street" class="col-lg-2 control-label">Street</label>
				<div class="col-lg-9">
					<textarea rows="2" type="text" name="mailing-street" id="mailing-street" class="form-control" placeholder="Enter street"></textarea>
				</div>
			</div>
			
			<!-- MA: City -->
			<div class="form-group">
				<label for="mailing-city" class="col-lg-2 control-label">City</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-city" id="mailing-city" class="form-control" placeholder="Enter city">
				</div>
			</div>
			
			<!-- MA: Country -->
			<div class="form-group">
				<label for="mailing-country" class="col-lg-2 control-label">Country</label>
				<div class="col-lg-9">
					<select name="mailing-country" id="mailing-country" class="form-control chosen-select">
						<option value="US" selected>United States</option>
						<option value="DE">Germany</option>
						<option value="AF">Afghanistan</option>
						<option value="AX">Åland Islands</option>
						<option value="AL">Albania</option>
						<option value="DZ">Algeria</option>
						<option value="AS">American Samoa</option>
						<option value="AD">Andorra</option>
						<option value="AO">Angola</option>
						<option value="AI">Anguilla</option>
						<option value="AQ">Antarctica</option>
						<option value="AG">Antigua and Barbuda</option>
						<option value="AR">Argentina</option>
						<option value="AM">Armenia</option>
						<option value="AW">Aruba</option>
						<option value="AU">Australia</option>
						<option value="AT">Austria</option>
						<option value="AZ">Azerbaijan</option>
						<option value="BS">Bahamas</option>
						<option value="BH">Bahrain</option>
						<option value="BD">Bangladesh</option>
						<option value="BB">Barbados</option>
						<option value="BY">Belarus</option>
						<option value="BE">Belgium</option>
						<option value="BZ">Belize</option>
						<option value="BJ">Benin</option>
						<option value="BM">Bermuda</option>
						<option value="BT">Bhutan</option>
						<option value="BO">Bolivia, Plurinational State of</option>
						<option value="BQ">Bonaire, Sint Eustatius and Saba</option>
						<option value="BA">Bosnia and Herzegovina</option>
						<option value="BW">Botswana</option>
						<option value="BV">Bouvet Island</option>
						<option value="BR">Brazil</option>
						<option value="IO">British Indian Ocean Territory</option>
						<option value="BN">Brunei Darussalam</option>
						<option value="BG">Bulgaria</option>
						<option value="BF">Burkina Faso</option>
						<option value="BI">Burundi</option>
						<option value="KH">Cambodia</option>
						<option value="CM">Cameroon</option>
						<option value="CA">Canada</option>
						<option value="CV">Cape Verde</option>
						<option value="KY">Cayman Islands</option>
						<option value="CF">Central African Republic</option>
						<option value="TD">Chad</option>
						<option value="CL">Chile</option>
						<option value="CN">China</option>
						<option value="CX">Christmas Island</option>
						<option value="CC">Cocos (Keeling) Islands</option>
						<option value="CO">Colombia</option>
						<option value="KM">Comoros</option>
						<option value="CG">Congo</option>
						<option value="CD">Congo, the Democratic Republic of the</option>
						<option value="CK">Cook Islands</option>
						<option value="CR">Costa Rica</option>
						<option value="CI">Côte d'Ivoire</option>
						<option value="HR">Croatia</option>
						<option value="CU">Cuba</option>
						<option value="CW">Curaçao</option>
						<option value="CY">Cyprus</option>
						<option value="CZ">Czech Republic</option>
						<option value="DK">Denmark</option>
						<option value="DJ">Djibouti</option>
						<option value="DM">Dominica</option>
						<option value="DO">Dominican Republic</option>
						<option value="EC">Ecuador</option>
						<option value="EG">Egypt</option>
						<option value="SV">El Salvador</option>
						<option value="GQ">Equatorial Guinea</option>
						<option value="ER">Eritrea</option>
						<option value="EE">Estonia</option>
						<option value="ET">Ethiopia</option>
						<option value="FK">Falkland Islands (Malvinas)</option>
						<option value="FO">Faroe Islands</option>
						<option value="FJ">Fiji</option>
						<option value="FI">Finland</option>
						<option value="FR">France</option>
						<option value="GF">French Guiana</option>
						<option value="PF">French Polynesia</option>
						<option value="TF">French Southern Territories</option>
						<option value="GA">Gabon</option>
						<option value="GM">Gambia</option>
						<option value="GE">Georgia</option>
						<option value="DE">Germany</option>
						<option value="GH">Ghana</option>
						<option value="GI">Gibraltar</option>
						<option value="GR">Greece</option>
						<option value="GL">Greenland</option>
						<option value="GD">Grenada</option>
						<option value="GP">Guadeloupe</option>
						<option value="GU">Guam</option>
						<option value="GT">Guatemala</option>
						<option value="GG">Guernsey</option>
						<option value="GN">Guinea</option>
						<option value="GW">Guinea-Bissau</option>
						<option value="GY">Guyana</option>
						<option value="HT">Haiti</option>
						<option value="HM">Heard Island and McDonald Islands</option>
						<option value="VA">Holy See (Vatican City State)</option>
						<option value="HN">Honduras</option>
						<option value="HK">Hong Kong</option>
						<option value="HU">Hungary</option>
						<option value="IS">Iceland</option>
						<option value="IN">India</option>
						<option value="ID">Indonesia</option>
						<option value="IR">Iran, Islamic Republic of</option>
						<option value="IQ">Iraq</option>
						<option value="IE">Ireland</option>
						<option value="IM">Isle of Man</option>
						<option value="IL">Israel</option>
						<option value="IT">Italy</option>
						<option value="JM">Jamaica</option>
						<option value="JP">Japan</option>
						<option value="JE">Jersey</option>
						<option value="JO">Jordan</option>
						<option value="KZ">Kazakhstan</option>
						<option value="KE">Kenya</option>
						<option value="KI">Kiribati</option>
						<option value="KP">Korea, Democratic People's Republic of</option>
						<option value="KR">Korea, Republic of</option>
						<option value="KW">Kuwait</option>
						<option value="KG">Kyrgyzstan</option>
						<option value="LA">Lao People's Democratic Republic</option>
						<option value="LV">Latvia</option>
						<option value="LB">Lebanon</option>
						<option value="LS">Lesotho</option>
						<option value="LR">Liberia</option>
						<option value="LY">Libya</option>
						<option value="LI">Liechtenstein</option>
						<option value="LT">Lithuania</option>
						<option value="LU">Luxembourg</option>
						<option value="MO">Macao</option>
						<option value="MK">Macedonia, The Former Yugoslav Republic of</option>
						<option value="MG">Madagascar</option>
						<option value="MW">Malawi</option>
						<option value="MY">Malaysia</option>
						<option value="MV">Maldives</option>
						<option value="ML">Mali</option>
						<option value="MT">Malta</option>
						<option value="MH">Marshall Islands</option>
						<option value="MQ">Martinique</option>
						<option value="MR">Mauritania</option>
						<option value="MU">Mauritius</option>
						<option value="YT">Mayotte</option>
						<option value="MX">Mexico</option>
						<option value="FM">Micronesia, Federated States of</option>
						<option value="MD">Moldova, Republic of</option>
						<option value="MC">Monaco</option>
						<option value="MN">Mongolia</option>
						<option value="ME">Montenegro</option>
						<option value="MS">Montserrat</option>
						<option value="MA">Morocco</option>
						<option value="MZ">Mozambique</option>
						<option value="MM">Myanmar</option>
						<option value="NA">Namibia</option>
						<option value="NR">Nauru</option>
						<option value="NP">Nepal</option>
						<option value="NL">Netherlands</option>
						<option value="NC">New Caledonia</option>
						<option value="NZ">New Zealand</option>
						<option value="NI">Nicaragua</option>
						<option value="NE">Niger</option>
						<option value="NG">Nigeria</option>
						<option value="NU">Niue</option>
						<option value="NF">Norfolk Island</option>
						<option value="MP">Northern Mariana Islands</option>
						<option value="NO">Norway</option>
						<option value="OM">Oman</option>
						<option value="PK">Pakistan</option>
						<option value="PW">Palau</option>
						<option value="PS">Palestine, State of</option>
						<option value="PA">Panama</option>
						<option value="PG">Papua New Guinea</option>
						<option value="PY">Paraguay</option>
						<option value="PE">Peru</option>
						<option value="PH">Philippines</option>
						<option value="PN">Pitcairn</option>
						<option value="PL">Poland</option>
						<option value="PT">Portugal</option>
						<option value="PR">Puerto Rico</option>
						<option value="QA">Qatar</option>
						<option value="RE">Réunion</option>
						<option value="RO">Romania</option>
						<option value="RU">Russian Federation</option>
						<option value="RW">Rwanda</option>
						<option value="BL">Saint Barthélemy</option>
						<option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
						<option value="KN">Saint Kitts and Nevis</option>
						<option value="LC">Saint Lucia</option>
						<option value="MF">Saint Martin (French part)</option>
						<option value="PM">Saint Pierre and Miquelon</option>
						<option value="VC">Saint Vincent and the Grenadines</option>
						<option value="WS">Samoa</option>
						<option value="SM">San Marino</option>
						<option value="ST">Sao Tome and Principe</option>
						<option value="SA">Saudi Arabia</option>
						<option value="SN">Senegal</option>
						<option value="RS">Serbia</option>
						<option value="SC">Seychelles</option>
						<option value="SL">Sierra Leone</option>
						<option value="SG">Singapore</option>
						<option value="SX">Sint Maarten (Dutch part)</option>
						<option value="SK">Slovakia</option>
						<option value="SI">Slovenia</option>
						<option value="SB">Solomon Islands</option>
						<option value="SO">Somalia</option>
						<option value="ZA">South Africa</option>
						<option value="GS">South Georgia and the South Sandwich Islands</option>
						<option value="SS">South Sudan</option>
						<option value="ES">Spain</option>
						<option value="LK">Sri Lanka</option>
						<option value="SD">Sudan</option>
						<option value="SR">Suriname</option>
						<option value="SJ">Svalbard and Jan Mayen</option>
						<option value="SZ">Swaziland</option>
						<option value="SE">Sweden</option>
						<option value="CH">Switzerland</option>
						<option value="SY">Syrian Arab Republic</option>
						<option value="TW">Taiwan, Province of China</option>
						<option value="TJ">Tajikistan</option>
						<option value="TZ">Tanzania, United Republic of</option>
						<option value="TH">Thailand</option>
						<option value="TL">Timor-Leste</option>
						<option value="TG">Togo</option>
						<option value="TK">Tokelau</option>
						<option value="TO">Tonga</option>
						<option value="TT">Trinidad and Tobago</option>
						<option value="TN">Tunisia</option>
						<option value="TR">Turkey</option>
						<option value="TM">Turkmenistan</option>
						<option value="TC">Turks and Caicos Islands</option>
						<option value="TV">Tuvalu</option>
						<option value="UG">Uganda</option>
						<option value="UA">Ukraine</option>
						<option value="AE">United Arab Emirates</option>
						<option value="GB">United Kingdom</option>
						<option value="US">United States</option>
						<option value="UM">United States Minor Outlying Islands</option>
						<option value="UY">Uruguay</option>
						<option value="UZ">Uzbekistan</option>
						<option value="VU">Vanuatu</option>
						<option value="VE">Venezuela, Bolivarian Republic of</option>
						<option value="VN">Viet Nam</option>
						<option value="VG">Virgin Islands, British</option>
						<option value="VI">Virgin Islands, U.S.</option>
						<option value="WF">Wallis and Futuna</option>
						<option value="EH">Western Sahara</option>
						<option value="YE">Yemen</option>
						<option value="ZM">Zambia</option>
						<option value="ZW">Zimbabwe</option>
					</select>
				</div>
			</div>
			
			<!-- MA: State/Province -->
			<div class="form-group">
				<label for="mailing-subdivision" class="col-lg-2 control-label">State/Province</label>
				<div class="col-lg-9">
					
					<select name="mailing-subdivision" id="mailing-subdivision" class="form-control chosen-select">
						<option value="US-AL">Alabama</option>
						<option value="US-AK">Alaska</option>
						<option value="US-AS">American Samoa</option>
						<option value="US-AZ">Arizona</option>
						<option value="US-AR">Arkansas</option>
						<option value="US-CA">California</option>
						<option value="US-CO">Colorado</option>
						<option value="US-CT">Connecticut</option>
						<option value="US-DE">Delaware</option>
						<option value="US-DC">District of Columbia</option>
						<option value="US-FL">Florida</option>
						<option value="US-GA">Georgia</option>
						<option value="US-GU">Guam</option>
						<option value="US-HI">Hawaii</option>
						<option value="US-ID">Idaho</option>
						<option value="US-IL">Illinois</option>
						<option value="US-IN">Indiana</option>
						<option value="US-IA">Iowa</option>
						<option value="US-KS">Kansas</option>
						<option value="US-KY">Kentucky</option>
						<option value="US-LA">Louisiana</option>
						<option value="US-ME">Maine</option>
						<option value="US-MD">Maryland</option>
						<option value="US-MA">Massachusetts</option>
						<option value="US-MI">Michigan</option>
						<option value="US-MN">Minnesota</option>
						<option value="US-MS">Mississippi</option>
						<option value="US-MO">Missouri</option>
						<option value="US-MT">Montana</option>
						<option value="US-NE">Nebraska</option>
						<option value="US-NV">Nevada</option>
						<option value="US-NH">New Hampshire</option>
						<option value="US-NJ">New Jersey</option>
						<option value="US-NM">New Mexico</option>
						<option value="US-NY">New York</option>
						<option value="US-NC">North Carolina</option>
						<option value="US-ND">North Dakota</option>
						<option value="US-MP">Northern Mariana Islands</option>
						<option value="US-OH">Ohio</option>
						<option value="US-OK">Oklahoma</option>
						<option value="US-OR">Oregon</option>
						<option value="US-PA">Pennsylvania</option>
						<option value="US-PR">Puerto Rico</option>
						<option value="US-RI">Rhode Island</option>
						<option value="US-SC">South Carolina</option>
						<option value="US-SD">South Dakota</option>
						<option value="US-TN">Tennessee</option>
						<option value="US-TX">Texas</option>
						<option value="US-UM">United States Minor Outlying Islands</option>
						<option value="US-UT">Utah</option>
						<option value="US-VT">Vermont</option>
						<option value="US-VI">Virgin Islands, U.S.</option>
						<option value="US-VA">Virginia</option>
						<option value="US-WA">Washington</option>
						<option value="US-WV">West Virginia</option>
						<option value="US-WI">Wisconsin</option>
						<option value="US-WY">Wyoming</option>
					</select>
				</div>
			</div>
			
			<!-- MA: ZIP/Postal code -->
			<div class="form-group">
				<label for="mailing-postal_code" class="col-lg-2 control-label">ZIP/Postal code</label>
				<div class="col-lg-9">
					<input type="text" name="mailing-postal_code" id="mailing-postal_code" class="form-control" placeholder="Enter ZIP/postal code">
				</div>
			</div>
		</fieldset>

		<button type="submit" class="btn btn-primary">Create New Studio</button>
	</form>
{% endblock %}