{% extends "admin_base.html" %}

{% block title %}{{title}}{% endblock %}

{% block sidenav %}
	<div class="panel-group" id="accordion">
		<!-- Group 1 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
						Studio
					</a>
				</h4>
			</div>
			<div id="collapseOne" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="/admin/models/studio/create">Create</a></li>
						<li><a href="/admin/models/studio/browse">Browse</a></li>
						<li><a href="/admin/models/studio/search">Search</a></li>
					</ul>					
				</div>
			</div>
		</div>

		<!-- Group 2 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
						Artist
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="/admin/models/artist/create">Create</a></li>
						<li><a href="/admin/models/artist/browse">Browse</a></li>
						<li><a href="/admin/models/artist/search">Search</a></li>
					</ul>					
				</div>
			</div>
		</div>

		<!-- Group 3 -->
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">
					<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
						Category
					</a>
				</h4>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse in">
				<div class="panel-body">
					<ul class="list-unstyled">
						<li><a href="/admin/models/category/create">Create</a></li>
						<li><a href="/admin/models/category/browse">Browse</a></li>
					</ul>					
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block main %}
	<h1>{{ title }}</h1>
	<p>Most recently edited or created:</p>

	{% if contacts %}
		<ul class="list-unstyled model-results contact-results">
		{% for contact in contacts %}
			<li>
				<span class="date">{{ contact.last_edited.ctime() }}</span>
				<h3><a href="{{ contact['link'] }}">{{ contact['name'] }}</a></h3>
			</li>
		{% endfor %}
		</ul>
	{% endif %}

	{% if more and next_curs %}
		<a href="/admin/models{% if title == 'Recent Artists' %}/artist/browse{% endif %}?cursor={{ next_curs }}">More...</a>
	{% endif %}
{% endblock %}