{% extends "admin_settings.html" %}
{% block title %}
	{{title}}
{% endblock %}
{% block main %}
	<h1>{{ title }}</h1>

	{% if status_message %}
	<p class="text-default">{{ status_message }}</p>
	{% endif %}

	<form method="post">
		<p>
			<button type="submit" class="btn btn-primary" name="refresh_type" value="all">Refresh entire cache</button>
		</p>

		<p>
			<button type="submit" class="btn btn-primary" name="refresh_type" value="emptyonly">Refresh empty cache only</button>
		</p>

		<p>
			<button type="submit" class="btn btn-primary" name="refresh_type" value="cron">Cron refresh</button>
		</p>

		<p>
			<button type="submit" class="btn btn-danger" name="refresh_type" value="flush">Flush cache</button>
		</p>
	</form>

{% endblock %}