{% extends "stream.html" %}

{% block title %}{{ artist.display_name }}{% endblock %}

{% block pageclass %}artist-page{% endblock %}

{% block stream_header %}

<!--<p class="backlink"><a href="/loc/{{ loc_page }}/">{{ loc_name|upper }}</a></p>-->

{% if artist.instagram.get().profile_picture %}
<img src="" class="img-circle">
{% else %}
<img src="/img/blank_circle_150.gif" class="img-circle">
{% endif %} 

<h1>{{ artist.display_name }}</h1>

<ul class="list-unstyled works-at">
	{% for studio in artist.studios %}
		{% set studio = studio.studio.get() %}
		{% set loc = studio.key.parent() %}
		{% set loc_name = loc.get().display_name %}
	<li><a href="/shop/{{ studio.name }}/{{ studio.key.id() }}">{{ studio.name }}</a> in {% if loc_name in featured_cities %}<a href="/loc/{{ loc.pairs()[0][1] }}/{{ loc.pairs()[1][1] }}/{{ loc.pairs()[2][1] }}">{% endif %}{{ loc_name }}{% if loc_name in featured_cities %}</a>{% endif %}</li>
	{% endfor %}
</ul>
{% endblock %}