{% extends "base_template.html" %}

{% block background_style %}style="background-color: #1c1c1c"{% endblock %}

{% block base_title %}{% block title %}{% endblock %} | TattooPort{% endblock %}

{% block css %}<link rel="stylesheet" href="/css/styles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>{% endblock %}

{% block container %}
	<nav class="navbar navbar-inverse navbar-static-top navbar-absolute" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/img/logo.png" class="img-responsive" alt="TattooPort: The Instagram app for tattoo lovers">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-left">
				{% block topmenu %}
				<li{% if active == 'tattoos' %} class="active" {% endif %}>
					<a href="/tattoos">
						Ideas &amp; Designs
					</a>
				</li>
				<li{% if active == 'models' %} class="active" {% endif %}>
					<a href="/shops-artists">
						Shops &amp; Artists
					</a>
				</li>
				{% endblock %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block user %}{% endblock %}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/my/likes">My Likes</a></li>
						<li><a href="/logoff">Sign out</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="/login" class="login-link">Log In</a></li>
				{% endif %}
			</ul>			
		</div>
	</nav>

	<div class="row">
		<div class="col-lg-12 tp-main">
			{% if not user %}
			<div class="jumbotron">
				<div class="container">
					<h1>TattooPort helps you find the <a href="/tattoo">inspiration</a> and <a href="/shops-artists">artist</a> for your next tattoo.</h1>
					<div class="btn-group">
						<a href="/login"><button type="button" class="btn btn-primary">Log in with Instagram</button></a>
						<a href="http://www.instagram.com/"><button type="button" class="btn btn-default">Sign up</button></a>
					</div>
				</div>
			</div>
			{% endif %}
			{% block main %}
			<h1>Front Base Template</h1>
			<p>You should not be seeing this!</p>
			{% endblock %}
		</div>
	</div>
{% endblock %}

{% block javascript %}<!-- Lazy Load Plugin -->
<script src="/js/lazyload/jquery.lazyload.js" type="text/javascript"></script>
{% endblock %}
