{% extends "base_template.html" %}

{% block background_style %}style="background-color: #2a2a2a"{% endblock %}

{% block base_title %}{% block title %}{% endblock %} | TattooPort{% endblock %}

{% block css %}<link rel="stylesheet" href="/css/styles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>{% endblock %}

{% block container %}
	<nav class="navbar navbar-inverse navbar-static-top navbar-absolute" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img src="/img/logo.png" class="img-responsive" alt="TattooPort: The Instagram app for tattoo lovers">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-responsive-collapse">
			<ul class="nav navbar-nav navbar-left">
				{% block topmenu %}
				<li{% if active == 'tattoos' %} class="active" {% endif %}>
					<a href="/tattoos">
						Ideas &amp; Designs
					</a>
				</li>
				<li{% if active == 'models' %} class="active" {% endif %}>
					<a href="/shops-artists">
						Shops &amp; Artists
					</a>
				</li>
				{% endblock %}
			</ul>

			<ul class="nav navbar-nav navbar-right">
				{% if user %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% block user %}{% endblock %}<b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/logoff">Sign out</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="/login" class="login-link">Log In</a></li>
				{% endif %}
			</ul>			
		</div>
	</nav>

	<div class="row">
		<div class="col-lg-12 tp-main">
			{% block main %}
			<h1>Front Base Template</h1>
			<p>You should not be seeing this!</p>
			{% endblock %}
		</div>
	</div>

	<div class="row footer">
		<div class="col-lg-12"></div>
	</div>
{% endblock %}

{% block javascript %}{% endblock %}
