{% extends "stream.html" %}

{% block title %}{{ locality.display_name }}{% endblock %}

{% block user %}<img src="{{ user.profile_picture }}" width="30px" class="img-circle"> {{ user.user_name }}{% endblock %}

{% block pageclass %}locality-page{% endblock %}

{% block stream_header %}
        <p class="backlink"><a href="/shops-artists">ALL CITIES</a></p>
    
        <h1>{{ locality.display_name }}</h1>
{% endblock %}

{% block top_content %}
{% set locality_path = '%s/%s/%s'|format(locality.key.pairs()[0][1],locality.key.pairs()[1][1],locality.key.pairs()[2][1]) %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h3>View all <a href="/loc/{{ locality_path }}/shops">shops</a> or <a href="/loc/{{ locality_path }}/artists">artists</a></h3>
        </div>
    </div>

    <h2>Recent Photos</h2>
{% endblock %}


