{% extends "front_base.html" %}

{% block title %}{{ shop.name }}{% endblock %}

{% block user %}{% if user %}<img src="{{ user.profile_picture }}" width="30px" class="img-circle"> {{ user.user_name }}{% else %}<a href="/login">Log In</a>{% endif %}{% endblock %}

{% block main %}
    <span class="shop-page">

    <!-- Shop Header -->
    <div class="row">
        <div class="col-sm-8 col-md-6 col-lg-6 shop-header">
            {% if shop.instagram.get().profile_picture %}
            <img src="{{ shop.instagram.get().profile_picture }}" class="img-circle">
            {% endif %} 

            {% set address = shop.address.get() %}

            <p class="backlink"><a href="/loc/{{ address.country }}/{{ address.subdivision }}/{{ address.locality }}/">{{ address.locality|upper }}</a></p>

            <h1>{{ shop.name }}</h1>
        </div>

        <div class="col-sm-4 col-md-6 col-lg-6">
        </div>
    </div>

    <!-- Media -->
    <div class="row" id="media-holder">
        {% block media %}
        {% if api_url %}
        <img src="/img/ajax-loader.gif" id="ajax-loader">
        {% endif %}
        {% endblock %}
    </div>

    <div class="row more">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
    {% if user and next %}
            <form method="get">
                <input type="hidden" name="max_id" value="{{ next }}">
                <button type="submit" class="btn btn-lg btn-primary">Load more</button>
            </form>
    {% elif not user%}
            <a href="/login"><button class="btn btn-lg btn-primary">Log in to see more</button></a>
    {% endif %}
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    </span>
{% endblock %}

{% block javascript %}
<script>
$_API_URL = "{{ api_url }}&callback=?"
</script>
<script src="/js/app.js"></script>

{% endblock %}


