{% extends "stream.html" %}

{% block title %}{{ shop.name }}{% endblock %}

{% block pageclass %}shop-page{% endblock %}

{% block stream_header %}

{% set address = shop.address.get() %}

<div class="firstrow">
	<div class="contact-title">
		<h1>
			{% if shop.instagram.get().profile_picture %}
			<img src="{{ shop.instagram.get().profile_picture }}" class="img-circle">
			{% elif shop.foursquare.get() %}
			<img src="/img/location_circle_150.gif" class="img-circle">
			{% else %}
			<img src="/img/blank_circle_150.gif" class="img-circle">
			{% endif %} 
			{{ shop.name }}
		</h1>

		{% set artists = shop.artists.fetch() %}

		<div class="dropdown works-at">
			{% set loc = shop.key.parent() %}
			{% set loc_name = loc.get().display_name %}
			<a data-toggle="dropdown" href="#">{{ artists|count }} Artists</a> in {% if loc_name in featured_cities %}<a href="/loc/{{ loc.pairs()[0][1] }}/{{ loc.pairs()[1][1] }}/{{ loc.pairs()[2][1] }}">{% endif %}{{ loc_name }}{% if loc_name in featured_cities %}</a>{% endif %}

			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				{% for artist in artists %}
				<li role="presentation">
					{% set artist = artist.artist.get() %}
					<a href="/artist/{{ artist.display_name }}/{{ artist.key.id() }}">{{ artist.display_name }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% if user and shop.instagram.get() %}
	<div id="follow-button">
		<a class="btn btn-default">Follow</a>
	</div>

	<div id="followers">
		<span id="follower-count">--</span>
		Followers
	</div>
	{% endif %}
</div>

<div class="iconrow">
	{% set emails = shop.email.fetch() %}
	{% if emails %}
		{% for email in emails %}
			<div class="user-icon contact" data-container="body" data-toggle="popover" data-placement="bottom" data-content="{{ email.email }}" data-original-title="Email" title="Email">
				<i class="icon-envelope icon-4x"></i>
				Contact				
			</div>
		{% endfor %}
	{% endif %}

	{% set phones = shop.phone.fetch() %}
	{% if phones %}
		{% for phone in phones|sort(reverse=True,attribute='primary') %}
			<div class="user-icon call" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
			data-content='<abbr title="{{ phone.phone_type.capitalize() }} Phone">{{ phone.phone_type[0].capitalize() }}</abbr>:
					<a href="tel:{{ phone.country_code }}{{ phone.number }}">
						+{{ phone.country_code }} 
						{% if phone.country_code == "1" %}
							{% set number = phone.number|replace("-","")
														|replace(" ","")
														|replace("(","")
														|replace(")","")
														|replace(".","") %}
							{{ "(%s) %s-%s" % (number[0:3],number[3:6],number[6:]) }}
						{% else %}
							{{ phone.number }}
						{% endif %}
					</a>' data-original-title="Phone" title="Phone">
				<i class="icon-phone icon-4x"></i>
				Call				
			</div>
		{% endfor %}
	{% endif %}

	{% set address = shop.address.get() %}
	{% if address %}
		<div class="user-icon contact">
			<div class="user-icon contact" data-container="body" data-toggle="popover" data-placement="bottom" data-html="true"
			data-content="<address>
							<strong>{{ shop.name }}</strong><br/>

							<p>
								{% if address.street %}
									<span class='white-space'>{{ address.street }}</span><br/>
								{% endif %}

								{% if address.locality %}
									{{ address.locality }},
								{% endif %}

								{% if shop.subdivision %}
									{{ shop.subdivision }} 
								{% endif %}

								{% if address.postal_code %}
									{{ address.postal_code }}
								{% endif %}

								{% if shop.country %}
									<br/>{{ shop.country }}
								{% endif %}
							</p></address>
							<a href='https://maps.google.com/maps?q={{ shop.name }} {{ address.locality }} {{ shop.subdivision }}' target='_blank'>Open in Google Maps</a>" data-original-title="Address" title="Address">
				<i class="icon-map-marker icon-4x"></i>
				Address {{ COUNTRIES }}
			</div>	
		</div>
	{% endif %}

	{% set websites = shop.website.fetch() %}
	{% if websites %}
		{% for website in websites %}
			<div class="user-icon contact">
				<a href="{{ website.url }}" target="_blank">
					<i class="icon-home icon-4x"></i>
					Website
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set gallerys = shop.gallery.fetch() %}
	{% if gallerys %}
		{% for gallery in gallerys %}
			<div class="user-icon contact">
				<a href="{{ gallery.url }}" target="_blank">
					<i class="icon-picture icon-4x"></i>
					Gallery
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set instagrams = shop.instagram.fetch() %}
	{% if instagrams %}
		{% for instagram in instagrams %}
			<div class="user-icon contact">
				<a href="http://instagram.com/{{ instagram.instagram }}" target="_blank">
					<i class="icon-instagram icon-4x"></i>
					Instagram
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set facebooks = shop.facebook.fetch() %}
	{% if facebooks %}
		{% for facebook in facebooks %}
			<div class="user-icon contact">
				<a href="{{ facebook.facebook }}" target="_blank">
					<i class="icon-facebook icon-4x"></i>
					Facebook
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set twitters = shop.twitter.fetch() %}
	{% if twitters %}
		{% for twitter in twitters %}
			<div class="user-icon contact">
				<a href="http://twitter.com/{{ twitter.twitter }}" target="_blank">
					<i class="icon-twitter icon-4x"></i>
					Twitter
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set tumblrs = shop.tumblr.fetch() %}
	{% if tumblrs %}
		{% for tumblr in tumblrs %}
			<div class="user-icon contact">
				<a href="{{ tumblr.tumblr }}" target="_blank">
					<i class="icon-tumblr icon-4x"></i>
					Tumblr
				</a>	
			</div>
		{% endfor %}
	{% endif %}

	{% set foursquares = shop.foursquare.fetch() %}
	{% if foursquares %}
		{% for foursquare in foursquares %}
			<div class="user-icon contact">
				<a href="{{ foursquare.foursquare }}" target="_blank">
					<i class="icon-foursquare icon-4x"></i>
					Foursquare
				</a>	
			</div>
		{% endfor %}
	{% endif %}
</div>

<h3 id="location-photo-header" style="display:none">Photos taken at this location</h3>
{% endblock %}