{% extends "front_base.html" %}

{% block title %}{% endblock %}

{% block user %}{% if user %}<img src="{{ user.profile_picture }}" width="30px" class="img-circle"> {{ user.user_name }}{% else %}<a href="/login">Log In</a>{% endif %}{% endblock %}

{% block main %}
    {% if api_url %}
    <img src="/img/ajax-loader.gif" class="ajax-loader">
    {% endif %}
    <span class="stream-page {% block pageclass %}{% endblock %}">

    <!-- Header -->
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 stream-header hide-while-loading">
            {% block stream_header %}
            {% endblock %}
        </div>
    </div>

    <!-- Top Content -->
    {% block top_content %}
    {% endblock %}

    <!-- Media -->
    <div class="row" id="media-holder">
        {% block media %}
        {% endblock %}
    </div>

    <!-- Media Modal -->
    <div class="modal fade" id="media-modal" tabindex="-1" role="dialog" aria-labelledby="Instagram Tattoo Photo" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-prev" aria-hidden="true"><i class="icon-chevron-left icon-3x"></i></button>
                    <button type="button" class="btn btn-next" aria-hidden="true"><i class="icon-chevron-right icon-3x"></i></button>
                    <div class="modal-meta">
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Bottom Content -->
    {% block bottom_content %}
    {% endblock %}

    <div class="row more">
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
        <div class="col-sm-6 col-md-6 col-lg-6">
    {% if not user%}
            <a href="/login"><button class="btn btn-lg btn-primary">Log in to see more</button></a>
    {% endif %}
        </div>
        <div class="col-sm-3 col-md-3 col-lg-3"></div>
    </div>
    </span>
{% endblock %}

{% block javascript %}
{{ super() }}
{% if api_url %}
<script>
$_API_URL = "{{ api_url }}{% if 'instagram' in api_url%}&callback=?{% endif %}";
$_ACCESS_TOKEN = "{{ user.access_token }}";

</script>
{% endif %}
<script src="/js/app.js"></script>
{% endblock %}


