{% extends "front_base.html" %}

{% block title %}Tattoo Ideas &amp; Designs{% endblock %}

{% block user %}<img src="{{ user.profile_picture }}" width="30px" class="img-circle"> {{ user.user_name }}{% endblock %}

{% block main %}
    <h1>Tattoo Ideas &amp; Designs</h1>

    <p class="text-muted">CATEGORIES</p>

    <ul class="list-unstyled">
		{% for group in groups %}
		<li>
			<h2>{{ group[0].name }}</h2>
			<ul class="list-unstyled">
				{% for category in group[1] %}
				<li>
					<a href="/tattoos/{{ category.key.pairs()[0][1] }}/{{ category.name }}">
						{{ category.name }}</a> 
					{% if category.instagram_count %}
					({{ category.instagram_count|format_number_with_commas }})
					{% endif %}
				</li>
				{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>

{% endblock %}

