{% extends "admin_single_page.html" %}

{% block title %}Terms of Service{% endblock %}

{% block main_content %}
<h1>TattooPort Terms of Service ("Agreement")</h1>

<p>This Agreement was last modified on October 09, 2013.</p>

<h2>Introduction</h2>

<p>Welcome to TattooPort.com, a property of TattooPort, LLC, based in Pennsylvania. Please read these Terms of Service ("Agreement", "Terms of Service") carefully before using <a href="/">http://www.tattooport.com</a> ("the Site") operated by TattooPort, LLC ("us", "we", or "our"). This Agreement sets forth the legally binding terms and conditions for your use of the Site at <a href="/">http://www.tattooport.com</a> and governs the terms of providing you with our service.  Please also read our Privacy Policy at <a href="/pp">http://www.tattooport.com/pp</a>.</p>

<p>By accessing or using the Site in any manner, including, but not limited to, visiting or browsing the Site or contributing content or other materials to the Site, you agree to be bound by these Terms of Service. Capitalized terms are defined in this Agreement.</p>

<p>You use the Site at your own risk and the Site and services are provided "AS IS".</p>

<p>Neither the Site nor TattooPort, LLC are affiliated in any way with Instagram or Instagram, LLC.</p>

<strong><p>This product uses the Instagram API but is not endorsed or certified by Instagram.</p></strong>

<h2>Services</h2>

<p>TattooPort is a specialized web viewer for Instagram, the free photo-sharing program and social network, and the tattoo art hosted there.  We may provide other services through the Site from time to time. We reserve the right to make changes and update any information or content of the Site and the services offered without any prior notice.</p>

<p>TattooPort also makes available certain publically available information about tattoo artists or tattoo shops, studios, and/or parlours, including but not limited to their physical address, website address, phone number, etc.</p>

<p>Unless stated otherwise, all services are provided free of charge.</p>

<p>Our services may be supported by advertising revenue and We may display advertisements and promotions on the Site. The manner, mode and extent of such advertising and promotions are subject to change without notice.</p>

<p>You do not need to register to use Site. However, certain features can be accessed only by users who log in using their Instagram user ID and password.</p>

<h2>Disclaimer</h2>

<p>We do not review the photographs published through TattooPort. As such, by your use of our service, you agree that we disclaim all responsibility for, and you release us from all liability for, any publication of photographs that may otherwise be actionable, including trademark infringement and copyright infringement.</p>

<p>Information provided about tattoo artists or tattoo shops, studios, and/or parlours may be incorrect and/or out-of-date. You agree to release us from all liability for any publication of such information that may otherwise be actionable.</p>

<h2>Intellectual Property</h2>

<p>The Site and its original content beyond content displayed using the Instagram API, features and functionality are owned by TattooPort, LLC and are protected by international copyright, trademark, patent, trade secret and other intellectual property or proprietary rights laws.</p>

<p>We do NOT claim ownership rights in any content that you post or otherwise make visible on the Site, by, for example, posting on Instagram.</p>

<p>The Site also contains Our content, third-party content and content of other Users. Except as provided within this Terms of Service, you may not copy, modify, translate, publish, broadcast, transmit, distribute, perform, display, or sell any content appearing on or through the Site. All such content is protected by copyright, trademark, patent, trade secret and other laws. We own and retain all rights in Our content and hereby grant you a limited, revocable, non-sublicensable license to reproduce and display Site (excluding any software code) solely for your personal use.</p>

<h2>Third Party Sites</h2>

<p>Our Site may contain links to third-party sites that are not owned or controlled by TattooPort, LLC.</p>

<p>TattooPort, LLC has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party sites or services. We strongly advise you to read the terms and conditions and privacy policy of any third-party site that you visit.</p>

<p>We use certain third-party websites, services and API to provide Our services through the Site. Therefore, We require that your use of the Site be in compliance with all applicable terms of usage, including Instagram’s Terms of Use at <a href="http://www.instagram.com/legal/terms">http://www.instagram.com/legal/terms</a>.</p>

<h2>Termination</h2>

<p>We may terminate your access to the Site, without cause or notice, which may result in the forfeiture and destruction of all information associated with you. All provisions of this Agreement that by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity, and limitations of liability. </p>

<h2>Indemnity</h2>
<p>You agree to defend, indemnify and hold Us including Our employees, officers, agents and contractors and Our related bodies corporate and their employees, officers, partners, agents and contractors harmless from and against all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including costs and attorney’s fees) arising from:</b>

<ol type="i">
	<li>your use of and access to the TattooPort services;</li>
	<li>your violation of this Terms of Service;</li>
	<li>your violation of any third party right such as copyright, property, or privacy right; or</li>
	<li>ny claim that use of the TattooPort services caused damage to a third party.</li>
</ol>

<p>This indemnification obligation will survive after the termination of this Terms of Service.</p>

<h2>Limited Liability</h2>

<p>In no event shall TattooPort, LLC be liable to you or any party related to you for any indirect, incidental, consequential, special, exemplary, or punitive damages or lost profits, even if TattooPort, LLC has been advised of the possibility of such damages.</p>

<p>In any event, TattooPort, LLC total aggregate liability to you for all damages of every kind and type (regardless of whether based in contract or tort) shall not exceed the purchase price of our services or US$5.00.</p>

<h2>Representations & Warranties</h2>

<p>WE MAKE NO REPRESENTATIONS OR WARRANTIES AS TO THE MERCHANTABILITY OF OUR SERVICE OR FITNESS FOR ANY PARTICULAR PURPOSE. YOU AGREE THAT YOU ARE RELEASING US FROM ANY LIABILITY THAT WE MAY OTHERWISE HAVE TO YOU IN RELATION TO OR ARISING FROM THIS AGREEMENT OR OUR PRODUCTS, FOR REASONS INCLUDING, BUT NOT LIMITED TO, FAILURE OF OUR SERVICE, NEGLIGENCE, OR ANY OTHER TORT. TO THE EXTENT THAT APPLICABLE LAW RESTRICTS THIS RELEASE OF LIABILITY, YOU AGREE THAT WE ARE ONLY LIABLE TO YOU FOR THE MINIMUM AMOUNT OF DAMAGES THAT THE LAW RESTRICTS OUR LIABILITY TO, IF SUCH A MINIMUM EXISTS.</p>

<p>YOU AGREE THAT WE ARE NOT RESPONSIBLE IN ANY WAY FOR OFFERS MADE BY THIRD PARTIES THROUGH OUR WEBSITE. YOU RELEASE US FROM ANY LIABILITY FOR DEFAMATORY, INTELLECTUAL PROPERTY-INFRINGING, OR OTHERWISE ACTIONABLE PHOTOGRAPHS ON OUR WEBSITE OR OTHER CONDUCT BY OUR USERS.
WE ARE NOT LIABLE FOR ANY FAILURE OF OUR SERVICE, INCLUDING ANY FAILURES OR DISRUPTIONS, SCHEDULED OR UNSCHEDULED, INTENTIONAL OR UNINTENTIONAL, ON OUR WEBSITE WHICH PREVENT ACCESS TO OUR WEBSITE TEMPORARILY OR PERMANENTLY.</p>

<p>THE PROVISION OF OUR SERVICE TO YOU IS CONTINGENT ON YOUR AGREEMENT WITH THIS AND ALL OTHER SECTIONS OF THIS AGREEMENT.
NOTHING IN THE PROVISIONS OF THIS "REPRESENTATIONS & WARRANTIES" SECTION SHALL BE CONSTRUED TO LIMIT THE GENERALITY OF THE FIRST PARAGRAPH OF THIS SECTION.</p>

<h2>Governing Law</h2>

<p>This Agreement (and any further rules, polices, or guidelines incorporated by reference) shall be governed and construed in accordance with the laws of Pennsylvania, United States, without giving effect to any principles of conflicts of law.</p>

<h2>Force Majeure</h2>

<p>You agree that we are not responsible to you for anything that we may otherwise be responsible for, if it is the result of events beyond our control, including, but not limited to, acts of God, war, insurrection, riots, terrorism, crime, labor shortages (including lawful and unlawful strikes), failure of Instagram or your e-mail account, embargoes, postal disruption, communication disruption, failure or shortage of infrastructure, shortage of materials, or any other event beyond our control.</p>

<h2>Severability</h2>

<p>In the event that a provision of this Agreement is found to be unlawful, conflicting with another provision of the Agreement, or otherwise unenforceable, the Agreement will remain in force as though it had been entered into without that unenforceable provision being included in it.</p>

<p>If two or more provisions of this Agreement are deemed to conflict with each other's operation, TattooPort, LLC shall have the sole right to elect which provision remains in force.</p>

<h2>Assignment</h2>

<p>You may not assign your rights and/or obligations under this Agreement to any other party without our prior written consent. We may assign our rights and/or obligations under this Agreement to any other party at our discretion.</p>

<h2>Changes To This Agreement</h2>

<p>We reserve the right, at our sole discretion, to modify or replace these Terms of Service by posting the updated terms on the Site. Your continued use of the Site after any such changes constitutes your acceptance of the new Terms of Service.</p>

<p>Please review this Agreement periodically for changes. If you do not agree to any of this Agreement or any changes to this Agreement, do not use, access or continue to access the Site or discontinue any use of the Site immediately.</p>

<h2>Contact Us</h2>

<p>If you have any questions about this Agreement, please contact lee [at] tattooport [dot] com.</p>
{% endblock %}